* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0908;
  color: #a7a7a7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h3 {
  font-size: 1.8rem;

  @media screen and (min-width: 768px) {
    font-size: 2.4rem;
  }
}
.hero {
  width: 100%;
  height: auto;
  background: conic-gradient(
    from 170deg,
    rgba(10, 9, 8, 0.05) 0%,
    rgba(7, 7, 7, 0.05) 40%,
    rgba(223, 191, 123, 0.01) 100%
  );

  @media screen and (min-width: 768px) {
    height: 90vh;
  }
}
